{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{% static '/labs/style.css' %}">
    <title></title>



    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- Custom styles for this template -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5641103059432927"
       crossorigin="anonymous"></script><!--- GOOGLE ADS -->
  </head>

  <body >

    <main role="main" class="container text-center">

      <div class="row"> <!-- START ROW 1 --> 

        <div class="col-12 text-center"> <!-- START COL 1 --> 
          
          <div id="question_container"> <!-- START QUESTION CONTAIN --> 
            
            <ul class="nav nav-tabs nav-justified" id="questions" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="useable-hosts" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">What's the Subnet?</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">What's the mask?</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Hosts and Networks?</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="about-site-tab" data-bs-toggle="tab" data-bs-target="#about-site" type="button" role="tab" aria-controls="about-site" aria-selected="false">About This Site</button>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"><!-- START What is the SUBNET TAB -->

                <h1>What is the network address of {{ guess_ip_string }}?</h1>
                <p class="hidden">It is in <span  id="correct">{{ check_against }}</span></p>
                <!-- CREATE DIV TO INSERT TEXT WITH CORRECT ANSWER -->
                <div id="correct_answer_textarea" class='hidden'>
                  <p>Yay! You were right! The {{ guess_ip_string }} is in network {{ check_against }}</p>

                </div>
                <input id="user_input" type="text" placeholder="Answer Format: 1.1.1.0/30">
                <p class="lead text-center" id="input_instructions">Enter the answer in this format: X.X.X.X/XX</p>


                <button class="btn btn-success" value="Go!" id="go_button">GO!</button><br>
                <a href="/labs"><button type="button" class="btn btn-primary margin-top-5px">NEW QUESTION</button></a>

              </div> <!-- END What is the SUBNET TAB -->

              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><!-- START HWHATS THE MASK TAB -->

                <h1>What is the longest possible mask to accomodate {{ hosts_required }} hosts in network {{ classful_network_classful }}?</h1>

                <!-- hidden area to display with JS when answer is correct -->
                <div id="howmanybits_correct_answer_area" class="hidden">
                  <p>Yay! You are correct!</p>
                  <!-- DEBUGGING / TEST ANSWER -->
                  <p>The answer is <span id="correct_howmanybits">{{ correct_answer }}</span></p>

                </div>

                <p class="lead text-center" id="input_instructions">Type your answer in CIDR format.</p>
                <input id="user_input_howmanybits" type="text" placeholder="Example: /23"><br>

                <button class="btn btn-success margin-top-5px" value="Go!" id="go_button_howmanybits">GO!</button><br>
                <a href="/labs"><button type="button" class="btn btn-primary margin-top-5px">NEW QUESTION</button></a>




              </div> <!-- END WHATS THE MASK TAB -->



              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"><!-- HOW MANY HOSTS AND NETWORKS TAB START-->
                <h1>How many useable hosts and how many subnets are available in {{ how_many_ip_string }}?</h1>

                <!-- hidden area to display with JS when answer is correct -->
                <div id="howmany_correct_answer_area" class="hidden">
                  <p>Yay! You are correct!</p>
                  <!-- DEBUGGING / TEST ANSWER -->
                  <p>There are <span id="correct_hosts">{{ answer_of_hosts }}</span> useable hosts and <span  id="correct_subnets">{{ number_of_subnets }}</span> subnets available!</p>

                </div>

                <p class="lead text-center" id="input_instructions">Enter your answers in number format with no symbols. Ex; 32000</p>
                <label for="user_input_hosts">Useable hosts:</label><br>
                <input id="user_input_hosts" type="text" placeholder="Example: 16000"><br>
                <label for="user_input_networks">Subnets:</label><br>
                <input id="user_input_networks" type="text" placeholder="Example: 256"><br>
                <button class="btn btn-success margin-top-5px" value="Go!" id="go_button_hosts_and_networks">GO!</button><br>
                <a href="/labs"><button type="button" class="btn btn-primary margin-top-5px">NEW QUESTION</button></a>



              </div> <!-- END HOW MANY HOSTS AND NETWORKS TAB -->

              <div class="tab-pane fade" id="about-site" role="tabpanel" aria-labelledby="about-site-tab"><!-- START ABOUT THE SITE TAB -->
                <h1>PacketFlipper is</h1>
                <p>A website for subnetting.</p>
                <p>I hope you enjoy!</p>
                <br><br>
                <p>This site was made as way for me to share my training and learn about software/app development at the same time. I hope you enjoy!</p>
                <br><br>
                <p>Dedicated to: my <span id="beautiful-ana">beautiful</span> wife ;) <3</p>
                <br><br>
                <p>-Alex</p>
                <br>
                <p>Inquiries: <a href="mailto: grayalexanderj@gmail.com">Send Email</a></p>
              </div> <!-- END ABOUT THE SITE TAB -->


            </div>


          </div> <!-- END QUESTION CONTAIN --> 

        </div> <!-- END COL 1 --> 


      </div> <!-- END ROW 1 -->

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/brython@3/brython.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/brython@3/brython_stdlib.js">
    </script>

    <script src="{% static '/labs/compare_text.js' %}" crossorigin="anonymous"></script>
  </body>
</html>
